.imageContainer{
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease 1s;
}

.image{
    width: 400px;
    
}

.imageTextContainerCompletado{
    font-weight: bold;
    font-size: 21px;
    color: var(--blue-color);
    display: flex;
    justify-content: center;
    
}