:root{
  --main-color: #d8120c;
}

.approval-container {
  width: 100%;
  height: 100vh;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: var(--main-color);
  color: white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Titulo {
  font-size: 30px !important;
}

.approval-box {
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto; /* Permite el desplazamiento si el contenido es demasiado alto */
  display: flex;
  flex-direction: row; /* Coloca las secciones una al lado de la otra */
  justify-content: space-between;
  gap: 20px; /* Espacio entre las secciones */
}

.section {
  flex: 1;
  margin-bottom: 20px;
}

.section h3 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Ajuste para mantener separación en pantallas pequeñas */
  flex-grow: 10;
}

.btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  width: 200px;
  transition: all 0.3s ease;
}

.btnAproval{
  width: 200px;
  height: 50px;

}

.btn-danger {
  background-color: #ff4b2b;
  color: white;
}

.btn-danger:hover {
  background-color: #e43e26;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-large {
  height: 70px; /* Ajusta la altura según lo necesites */
  width: 250px;  /* Ajusta el ancho según lo necesites */
  font-size: 25px; /* Ajusta el tamaño de la fuente según lo necesites */
}

textarea.form-control {
  width: 100%;
  height: 100px;
  resize: none;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .approval-container {
    height: auto;
    max-width: 100%;
    padding: 10px; /* Agrega padding para evitar que el contenido se pegue a los bordes */
  }

  .approval-box {
    flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
  }

  .section-content > div {
    flex: 1 1 100%; /* Hace que los elementos ocupen toda la anchura en pantallas pequeñas */
  }

  .buttons {
    flex-direction: column;
    gap: 10px; /* Ajusta el espacio entre botones en pantallas pequeñas */
  }

  .btn-large {
    width: 100%; /* Hace que los botones ocupen toda la anchura disponible en pantallas pequeñas */
    font-size: 20px; /* Ajusta el tamaño de la fuente en pantallas pequeñas */
  }

  .Titulo {
    font-size: 25px !important; /* Ajusta el tamaño de la fuente del título en pantallas pequeñas */
  }
}

.column{
  font-size: 18px;
}

.inputLabel{
  font-weight: bold;
}
.inputValue{
  padding: 3px;
  background: #eaeaea;
}

.btnModalContainer{
  display: flex;
  justify-content: center;
}




